# Python
__pycache__/
*.py[cod]
*.so

# Virtual environments
venv/
.venv/
env/
spark-env/

# Jupyter
.ipynb_checkpoints/

# PySpark / Spark
.sparkStaging/

# Delta Lake
delta/

# IDE
.vscode/
.idea/


# OS
.DS_Store
Thumbs.db


#datasets
datasets/

# WSL files
*.Identifier

