# Python
__pycache__/
*.py[cod]
*.so

# Virtual environments
venv/
.venv/
env/
spark-env/

# Jupyter
.ipynb_checkpoints/

# PySpark / Spark
.sparkStaging/


# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db


#datasets
dataset/

